{% extends 'store/index.html' %}


{% block content%}

<div class="py-5">

    <div class="container px-4 px-lg-5 mt-5 ">
        {% for item in items %}
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center d-flex">
            <div class="card h-100 w-100">
                <div class="row">
                    <div class="col-4">
                        <img class="card-img-left" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                    </div>
                    <div class="col-5 card-body p-4">
                        <div class=" text-center">
                            <h5 class="fw-bolder">{{ item.productItem.name}}</h5>
                            ${{ item.productItem.price }}
                            <br>
                            <p><small>Category: {{ item.productItem.category}}</small></p>
                            <br>
                            <form method="post" action="{% url 'cart_add_item' item.productItem.id %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-2 offset-3 text-end ">
                                        <input class="form-control text-center quantity-input" id="productQuantity"
                                               name="productQuantity"
                                               type="number" value="{{ item.quantity }}"/>
                                    </div>
                                    <div class="col d-flex ">
                                        <button class="btn btn-outline-dark flex-shrink-0 " type="submit">
                                            <i class="bi-cart-fill me-1"></i>
                                            Update quantity
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col p-4 pt-2 border-top-0 bg-transparent text-center">
                        <div class="row">
                            <form method="post" action="{% url 'cart_remove_item' item.productItem.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Delete From Cart</button>
                            </form>
                        </div>
                        <br>
                        <div class="row">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                        href="{% url 'product_detail' item.productItem.id %}">View
                                details</a></div>
                        </div>
                        <br>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
        {% if total > 0 %}
        <div class="row">
            <div class="col-3">
                <h4>Total: {{ total }}</h4>
            </div>
            <div class="col-">
                <form method="post" action="{% url 'order_checkout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Checkout</button>
                </form>
            </div>
        </div>
        {% else %}
        <p>No products in your cart</p>
        {% endif %}
    </div>
</div>

{% endblock %}