{% extends 'store/index.html' %}


{% block content%}

<div class="container-fluid py-5">

    {% if products %}

    <div class="row">
        <div class="col-2">
            <form method="get" action="{% url 'home' %}">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="false">
                        Filter By
                    </button>

                    <ul class="dropdown-menu">
                        <li>
                            <button class="dropdown-item" type="submit" name="filter_type" value="newest">
                                Newest
                            </button>
                        </li>

                        <li>
                            <button class="dropdown-item" type="submit" name="filter_type" value="oldest">
                                Oldest
                            </button>
                        </li>

                        <li>
                            <button class="dropdown-item" type="submit" name="filter_type" value="popular">
                                Popular
                            </button>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'category_list' %}">List Categories</a>
                        </li>

                    </ul>
                </div>
            </form>
        </div>
        <div class="col">
            <form method="get" action="{% url 'home' %}">
                <input type="text" id="searchField" name="search_field" placeholder="Search">
                <button class="btn btn-sm btn-primary">Search</button>

            </form>
        </div>
    </div>
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-custom-small" src="{{ product.img_url }}" alt="{{ product.name }}"/>
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ product.name }}</h5>
                            ${{ product.price }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                    href="{% url 'product_detail' product.id %}">View details</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% else %}

    <div class="row p-3 m-3">
        <div class="col text-center">
            <h1>No products yet</h1>
            <p class="text-muted">
                There are currently no products available. Check back later!
            </p>
        </div>
    </div>

    {% endif %}
</div>


{% endblock %}