<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">OnlineStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>

                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown1" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Update User Information</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'update_user' %}">Update User</a></li>
                        {% if request.user.user_type != 'A' %}
                        <li><a class="dropdown-item" href="{% url 'update_user_profile' %}">Update Profile</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if request.user.is_authenticated and request.user.user_type == 'A' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Review</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'add_category' %}">Add Category</a></li>
                        <li><a class="dropdown-item" href="#">View All Orders</a></li>
                    </ul>
                </li>
                {% endif %}

                {% if request.user.user_type == 'C' %}
                <li class="nav-item"><a class="nav-link" href="#">My Orders</a></li>
                {% elif request.user.user_type == 'S' %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown3" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Products</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item"><a class="nav-link" href="{% url 'add_product' %}">Add New Product</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">View My Products</a></li>
                    </ul>
                </li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'list_categories' %}">Categories</a></li>
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0 ms-lg-4">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'update_user' %}"><h4>{{ user.username }}</h4></a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav  mb-2 mb-lg-0 ms-lg-4">
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
            {% if request.user.user_type == 'C' %}
            <form class="d-flex ps-3" method="get" action="{% url 'show_cart' %}">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <!--                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>-->
                </button>
            </form>

            {% endif %}
        </div>
    </div>
</nav>
