{% extends 'store/index.html' %}

{% block content %}
<div class="container d-block">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
            {% if request.user.is_admin %}
            <th scope="col">Created by</th>
            {% endif %}
            <th scope="col">*</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.placed_at }}</td>
            <td>{{ order.payment_status }}</td>
            {% if request.user.is_admin %}
            <td>{{ order.customer }}</td>
            {% endif %}
            <td><a href="{% url 'show_order_detail' order.id %}">View</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}