POSTGRES_DB=your_dev_db
POSTGRES_USER=your_dev_db_user
POSTGRES_PASSWORD=your_dev_db_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SETTINGS_MODULE=OnlineStore.settings.development
SECRET_KEY="your_django_secret_key"